html, body{
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}
.site, section{
    height: 100%;
    width: 100%;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    height: 100%;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #ffae3c;
}
input{
    border: none;
    outline:none;
    -webkit-box-shadow: inset 0 0 0 50px transparent;
}
/* Preloader*/
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.animation-in{
    transition: all 1.25s;
}
.preload-lines{
    width: 100%;
    height: 100%;
    background: #2f3338;
    z-index: 1000;
    transition: 1s;
}
.animation-in .preload-lines {
    transform: translateX(-200vw);
}
.preload-lines-inner{
    width: 100%;
    height: 100%;
    background: #ffae3c;
    z-index: 1000;
    transition: 1s;
    transform: translateX(100vw);
}

.loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    -webkit-transform: translateX(0);
}

/* Loaded */

.loaded .loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/*End preloader*/

/*sectorOne*/
.square {
    position: relative;
    display: block;
    z-index: -1;
    width: 21.5rem;
    height: 12em;
    left: 2vw;
    top: 2vw;
}
.square .line{
    position: absolute;
    background: #ffae3c;
}
.line.line1{
    left: 0px;
    top: 0px;
    height: 5px;
    width: 0;
    -webkit-transition: width .12s linear;
    transition: width .12s linear;
    -webkit-transition-delay: .12s;
    transition-delay: .12s;
}
.line.line2{
    right: 0px;
    top: 0px;
    height: 0px;
    width: 5px;
    -webkit-transition: height .12s linear;
    transition: height .12s linear;
    -webkit-transition-delay: .24s;
    transition-delay: .24s;
}
.line.line3{
    left: 0px;
    bottom: 0px;
    height: 5px;
    width: 0px;
    -webkit-transition: height .12s linear;
    transition: width .12s linear;
    -webkit-transition-delay: .24s;
    transition-delay: .24s;
}
.line.line4{
    left: 0px;
    bottom: 0px;
    height: 0px;
    width: 5px;
    -webkit-transition: height .12s linear;
    transition: height .12s linear;
    -webkit-transition-delay: .12s;
    transition-delay: .12s;
}
.add_line em.line.line3{
    transition-delay: .6s;
    width: 100%;
}
.add_line em.line.line4{
    transition-delay: .2s;
    height: 100%;
}
.add_line em.line.line1{
    transition-delay: .2s;
    width: 100%;
}
.add_line em.line.line2{
    transition-delay: .4s;
    height: 30%;
}

.cube-about{
    background-color: #191919;
    z-index: -1;
}
.cube-title{
    background-color: #191919;
    z-index: -1;
    overflow: hidden;
}
.svg-file{
    -moz-animation: roundCircle 80s linear infinite;
    animation: roundCircle 80s linear infinite;
    position: absolute;
    right: 0;
    bottom: 0px;
}
.svg-file-skills{
    position: absolute;
    top: 0;
    z-index: 0;
    left: 2px;
    animation: roundCircleSkills 500s linear infinite;
    -moz-animation: roundCircleSkills 500s linear infinite;
}
.svg-file-contacts{
    position: absolute;
    top: -101px;
    z-index: 0;
    right: 200px;
    animation: roundCircleContacts 500s linear infinite;
    -moz-animation: roundCircleContacts 500s linear infinite;
}
@keyframes roundCircle {
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}
@keyframes roundCircleSkills {
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}
@keyframes roundCircleContacts {
    from{ transform: rotate(360deg);}
    to{ transform: rotate(0deg);}
}
.name-sector{
    color: #fff;;
    font-size: 50px;
    position: absolute;
    letter-spacing: 8px;
    top: 20%;
    left: 10%;
    z-index: 1;
    text-transform: uppercase;
}
.digital_intro{
    z-index: 7;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.inner_text{
    position: absolute;
    top: 60px;
    left: 45px;
    opacity: 1;
    color: #fff;
    text-transform: uppercase;
}
.outer-text{
    text-transform: uppercase;
    margin: 40px;
    color:#ffae3c;
}
.typed-cursor{
    display: none;
}
h3{
    font-size: 3rem;
    line-height: 4.1rem;
    letter-spacing: 1px;
}
p{
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 1px;
}
.bar-chart{
    list-style: none;
    width: 98%;
    height: 60%;
    z-index: 1;
    position: absolute;
    top: 40%;
    padding: 0;
    margin: 0 0 0 .4%;
}
.info{
    list-style: none;
    padding: 0;
    margin-left: 7px;
    position: absolute;
}
.skill{
    margin: 10px 0 0 0;
    display: block;
    height: 10%;
    position: relative;
    font-size: 18px;
    transition: 1s ease;
    background-color: #ffae3c;
}
.html{
    width: 80%;
}
.javascript{
    width: 72%;
}
.bootstrap{
    width: 75%;
}
.sing{
    width: 32%;
}
.git-skill{
    width: 60%;
}
.rd{
    width: 67%;
}
.coffee{
    width: 54%;
}
.skill-line{
    position: absolute;
    background: #fff;
    transition: 1s all;
}
.skill-name{
    padding: 5px;
    text-transform: uppercase;
    color: #191919;
}
.skill.hidden-skill{
    opacity: 0;
    width: 0%;
}
.lineOne{
    height: 0%;
    width: 3px;
    background-color: #ffae3c;
    top: 70%;
}
.lineTwo{
    height: 0%;
    width: 3px;
    background-color: #ffae3c;
    bottom: 30%;
}
.lines-skill.new-line .skill-line.lineOne{
    height: 30%;
}
.lines-skill.new-line .skill-line.lineTwo{
    height: 70%;
}

/*sectorTwo*/
.work{
    background-color: #191919;
}


/*My style */
.layout-height-12{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.layout-height-6{
    height: 50vh;
    position: relative;
}
.layout-height-2{
    height: 40px;
    position: relative;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding: 0;
}
/*End*/

.background-image-container{
    overflow: hidden;
    background-color: #191919;
}
.background-image-cover{
    will-change: transform;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.letter-container{
    background-color: #fff;
    text-align: center;
}
.container-text{
    background-color: #191919;
}
.letter{
    font-size: 200px;
    position: absolute;
    top: 50%;
    left: 15%;
    z-index: 1;
    width: 300px;
}
.inner-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: 1s all;
    cursor: pointer;
}
.inner-img-big{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: 1s all;
    cursor: pointer;
}
.inner-img-big:hover, .inner-img:hover{
    opacity: 0.3;
}
.my-work{
    color: #fff;
    font-size: 60px;
    position: absolute;
    left: 160px;
    letter-spacing: -3px;
    top: 80px;
    z-index: 1;
    text-transform: uppercase;
    will-change: opacity;
}
.my-work-text{
    position: absolute;
    top: 145px;
    color: #ffae3c;
    text-transform: uppercase;
    margin: 0 10px 0 10px;
    font-size: 18px;
}
.contact-letter{
    color: #fff;
    font-size: 60px;
    position: absolute;
    left: 200px;
    letter-spacing: -3px;
    top: 12%;
    z-index: 1;
    text-transform: uppercase;
    will-change: opacity;
}
.my-work .appear-text{
    transition-duration: .8s;
    will-change: left,opacity;
    left: 0;
    opacity: 1;
}
.appear-text.js{
    opacity: 0;
}
.appear-text.jsC{
    opacity: 0;
}
.my-skill{
    background: #191919;
    overflow: hidden;
}
.my-skill-title{
    color: #fff;
    font-size: 50px;
    position: absolute;
    letter-spacing: 3px;
    top: 10%;
    left: 20%;
    z-index: 1;
    text-transform: uppercase;
}
.skill-list{
    color: #fff;
    list-style: none;
    width: 100%;
    height: 100%;
}
.appear-skill{
    font-size: 50px;
    display: inline-block;
    width: 20%;
    height: 7vw;
    margin: 10px 40px 10px 50px;
}
.appear-skill.jsA{
    opacity: 0;
}
/*Hide lines */
.hide-lines-big{
    width: 100%;
    height: 100%;
    background: #191919;
    z-index: 1000;
    transition: 2s;
}
.hide-lines-big.moves{
    transform: translateX(200vw);
}
.hide-lines-big-inner{
    width: 100%;
    height: 100%;
    background: #ffae3c;
    z-index: 1000;
    transform: translateX(-66.6vw);
}
.hide-lines-small{
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    transition: 2s;
}
.hide-lines-small.moves{
    transform: translateX(200vw);
}
.hide-lines-small-inner{
    width: 100%;
    height: 100%;
    background: #ffae3c;
    z-index: 1000;
    transform: translateX(-33.3vw);
}
.row{
  margin: 0;
}
.row-background{
    background-color: #ffae3c;
}
.row-second-background{
    background-color: #fff;
}

/*Modal*/
.modal-header {
    padding: 15px;
    border-bottom: none;
}
.modal-content{
    border-radius: 0;
}
.modal-img{
    width: 100%;
}
.loom-modal{
    background-color: #000;
}
.loom-text{
    color: #fff;
}
.website{
    margin: 30px;
    text-align: center;
}
.website-href:before {
    content: '_';
    position: absolute;
    left: 1.5vw;
    transition: 1s all;
    color: #ffae3c;
}

.website-href:after {
    content: '>';
    position: absolute;
    left: .6vw;
    transition: 1s all;
    color: #ffae3c;
}
.website-href{
    position: relative;
    line-height: 55px;
    padding: 15px 15px 15px 35px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffae3c;
}
.website-href:hover:after{
    transform: translate(1.1vw);
}
.website-href:hover:before{
    transform: translate(-.4vw, -0.3vw);
}
.modal-header .close {
    margin-top: -2px;
    transition: 1s all;
}
.loom-close{
    color:#fff;
    opacity: .7;
}
.close.loom-close:hover{
    color:#fff;
}
/*Form*/
.contact-form{
    position: relative;
    top: 7vw;
    text-align: center;
    z-index: 1;
}
.form-block{
    display: inline-block;
    position: relative;
}
.form-name{
    color: #9d9d9d;;
    position: absolute;
    transition: 1s all;
    transform: translate(10px, 30px);
    font-size: 20px;
    cursor: auto;
}
.form-name.active{
    transform: translate(0px);
    font-size: 15px;
    color: #ffae3c;
}
.inp{
    background-color: transparent;
    padding: 12px;
    margin: 16px 0 0 0;
    border-bottom: 2px solid #9d9d9d;
    color: #fff;
}
.focus-bar{
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ffae3c;
    transition: 0.4s;
    transition: 0.4s;
    left: 0;
    top: 60px;
}
.focus-bar.active{
    width: 100%;
}
.text-area{
    background-color: transparent;
    outline: 0;
    border: 0;
    background: #37393b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    z-index: 100000;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
    margin-top: 30px;
    color:#fff;
}
.send{
    padding: 20px 120px;
    color: #ffae3c;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
}
.send-block{
    position: relative;
    display: inline-block;
    top: 25px;
}
.send-line{
    position: absolute;
    background-color: #ffae3c;
}
.send-line1{
    height: 100%;
    width: 1px;
}
.send-line2{
    height: 1px;
    width: 20%;
    -webkit-transition: width .12s linear;
    transition: width .5s linear;
}
.send-line3{
    height: 100%;
    width: 1px;
    right: 0;
}
.send-line4{
    height: 1px;
    width: 20%;
    -webkit-transition: width .12s linear;
    transition: width .5s linear;
    bottom: 0;
    right: 0;
}
.send-block:hover .send-line.send-line2{
    width: 100%;
}
.send-block:hover .send-line.send-line4{
     width: 100%;
}
.icon{
    position: absolute;
    width: 40px;
    left: 3vw;
    z-index: 100;
}
.icon.git{
top:10vw;
}
.icon.facebook{
    top: 14vw;
}
/*Map block*/
#map{
    height: 100%;
}
.info-map{
    position: absolute;
    top: 20%;
    left: 20%;
    padding: 10px;
    background-color: #2f3338;
    color:#9d9d9d;
    z-index: 1;
}
.map-title{
    color: #ffae3c;
}

/*Mobile*/
@media screen and (min-width: 1281px) {
    .name-sector{
        top: 50%;
        left: 25px;
    }
    .letter{
        top:300px;
    }
}
@media screen and (min-height: 1250px) {
    .square{
        top:5vw;
    }
    .inner_text{
        top: auto;
        top: 90px;
    }
    .outer-text{
        margin: 70px 0 0 30px;
    }
    .my-work{
        top:240px;
    }
    .my-work-text{
        top:300px;
        left: 80px;
        font-size: 32px;
    }
    section{
        height: auto;
    }
    .cube-about, .cube-title{
        z-index: 10;
    }
    .layout-height-12{
        height: 66.66667vh;
    }.layout-height-6{
         height: 33.333vh;
     }

}
@media screen and (min-width: 1000px) and (max-width: 1204px) {
    .name-sector{
        font-size: 50px;
    }
}
@media screen and (min-width: 1000px) and (max-height: 800px) and (max-width: 1058px){
    .square{
        width: 19.5rem;
        height: 10em;
    }
    .inner_text h3{
        font-size: 24px;
    }
    .inner_text p{
        font-size: 15px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
    .name-sector{
        top: 40%;
    }
    .svg-file{
        bottom: 0%;
        left: 38%;
        position: absolute;
    }
    .square{
        height: 12em;

    }
    .digital_intro{
        position: absolute;
        left: 20%;
        top: 20%;
    }
    .inner_text{
        top: 75px;
        left: 80px;
    }
    .layout-height-6.letter-container{
        height: 25%;
    }
    .my-work{
        top: 70%;
    }
    .layout-height-2{
        height: 4vh;
    }
    .contact-letter{
        top:20%;
    }
    .contact-form{
        left: 0;
    text-align: center;
        top: 12vw;
    }
    .icon{
        position: relative;
        bottom: 10vw;
        margin-right: 20px;
    }
    .my-work-text{
        top: 145px;
        color: #fff;
        font-size: 25px;
        margin: 0 auto;
    }
}
@media screen and (min-height: 416px) and (max-width: 1023px){
    .layout-height-12{
        height: 66.66667vh;
    }.layout-height-6{
    height: 33.333vh;
         }
}
@media screen and (min-width: 630px) and (max-width: 767px) {
    .digital_intro{
        position: inherit;
    }
    section{
        height: auto;
    }
    .cube-about, .cube-title{
        z-index: 10;
    }
    .svg-file{
        position: absolute;
        top: 0;
        left: 0px;
    }
    .inner_text{
        top: 90px;
        left: 37%;
    }
    .outer-text{
        position: absolute;
        bottom: 5px;
        left: 35%;
        margin: 0;
    }
    .inner_text p{
        font-size: 1.3rem;
    }
    .cube-title, .cube-about{
        text-align: center;
    }
    .inner_text h3{
        margin: 0 auto;
        font-size: 2rem;
    }
    .my-work{
        left: 110px;
        top: 140px;
    }
    .my-work-text{
        left: 20px;
        top: 115px;
    }
    .layout-height-2{
        height: 4vh;
    }
    .contact-letter{
        top:20%;
        left:140px;
    }
    .contact-form{
        left: 0;
        text-align: center;
        top: 12vw;
    }
    .icon{
        position: relative;
        bottom: 5px;
        margin-right: 20px;
        width: 30px;
    }
    .inp{
        padding: 0;
    }
    .form-name{
        transform: translate(10px, 20px);
        font-size: 14px;
    }
    .focus-bar{
        top: 38px;
    }
    .text-area{
        min-height: 50px;
    }
    .send-block{
        top: 15px;
    }
    .send{
        padding: 10px 80px;
    }
    .my-skill-title{
        top: 4%;
        left: 5%;
    }
    .bar-chart{
        top:30%;
    }
    .lineOne{
        top:63%;
    }
    .lineTwo{
        bottom: 37%;
    }
    .skill-name{
        padding: 0;
    }
}

@media screen and (min-width: 560px) and (max-width: 629px) {
.digital_intro{
    position: absolute;
    left: 11%;
}
    .my-skill-title{
        left: 1%;
    }
    .name-sector{
        top: 40%;
    }
    .square{
        height: 10em;
    }
    .inner_text{
        left:28%;
    }
    .inner_text h3{
        margin: 0 auto;
        font-size: 1.5rem;
    }
    .outer-text{
        position: relative;
        bottom: 25px;
        left: 26%;
        margin: 0;
    }
    .svg-file{
        position: absolute;
        top: 0;
        left: 15%;
    }
    .skill-name{
        padding: 0;
    }
    .skill{
        margin: 5px 0 0 0;
    }
    .my-work{
        left: 100px;
        top:120px;
    }
    .my-work-text{
        top:90px;
        left:0;
    }
    .contact-form{
        left:0;
        top:10vw;
    }
    .contact-letter{
        left: 100px;
        font-size: 50px;
        top:18%;
    }
    .inp{
        padding: 0;
    }
    .form-name{
        transform: translate(10px, 20px);
        font-size: 14px;
    }
    .focus-bar{
        top: 38px;
    }
    .text-area{
        min-height: 30px;
    }
    .send-block{
        top: 10px;
    }
    .send{
        padding: 5px 60px;
    }
}


@media screen and (min-width: 300px) and (max-width: 1000px) {
    section{
        height: auto;
    }
    .cube-title, .cube-about{
        text-align: center;
    }
    .name-sector{
        margin: 0 auto;
        position: inherit;
        left:0;
    }
    .line.line1{
        height: 5px;
    }
    .line.line2 {
        width: 5px;
    }
    .line.line3{
        height: 5px;
    }
    .line.line4 {
        width: 5px;
    }
    .letter-container{
        position: absolute;
        width: 25%;
        height: 50%;
        z-index: 100;
    }
    .letter{
        width: 130px;
    }
    .square{
        left: 0;
        margin: 0 auto;
    }
    .icon.git{
        top:auto;
    }
    .icon.facebook{
        top:auto;
    }
    .background-image-container{
        text-align: center;
    }
    .hide-lines-small-inner, .hide-lines-big-inner{
        transform: translateX(-100vw);
    }
}
@media screen and (min-width: 400px) and (max-width: 425px) {
    .name-sector{
        top: 40%;
    }
    .square{
        height: 9em;
        top: 10vw;
    }
    .inner_text{
        top:60px;
        left: 28%;
    }
    .inner_text h3{
        font-size: 1.5rem;
    }
    .outer-text{
        margin: 0 0 0 85px;
    }
    .my-skill-title{
        margin: 0;
        left: 1%;
        font-size: 35px;
    }
    .bar-chart{
        top: 30%;
        margin: 0 0 0 2.3%;
    }
    .svg-file{
        position: absolute;
        top: 0;
        left: 0;
    }
    .lineOne{
        top:63%;
    }
    .lineTwo{
        bottom: 37%;
    }
    .letter{
        font-size: 120px;
        left: 10%;
        top:100%;
        width: 90px;
    }
    .letter-container{
        height: 25%;
    }
    p{
        font-size: 1.2rem;
    }
    .website-href{
        font-size: 15px;
    }
    .my-work{
        left: 2%;
        letter-spacing: 0;
        top: 75%;
        font-size: 50px;
    }
    .my-work-text{
        top: 55%;
        left: 0;
    }
    .layout-height-2{
        height: 5vh;
    }
    .contact-form{
        left:0;
        top:20%;
    }
    .contact-letter{
        left: 12%;
        font-size: 45px;
        top: 18%;
    }
    .inp{
        padding: 0;
    }
    .form-name{
        transform: translate(10px, 20px);
        font-size: 14px;
    }
    .focus-bar{
        top: 36px;
    }
    .text-area{
        min-height: 30px;
    }
    .send-block{
        top: 10px;
    }
    .send{
        padding: 5px 60px;
    }
    .icon{
        width: 25px;
        position: relative;
        bottom: 20px;
        margin: 20px 10px 10px 20px;
    }
    .text-area {
        min-height: 90px;
    }
}
@media screen and (min-width: 340px) and (max-width: 375px) {
    .name-sector{
        font-size: 45px;
        top:45%;
    }
    .square{
        height: 9em;
        top: 10vw;
    }
    .inner_text{
        left:30px;
        top:50px;
    }
    .inner_text h3{
        font-size: 2.4rem;
    }
    .my-skill-title{
        margin: 0;
        left: 2%;
        font-size: 45px;
        letter-spacing: 0;

    }
    .bar-chart{
        top: 30%;
        margin: 0 0 0 2.3%;
    }
    .lineOne{
        top:63%;
    }
    .lineTwo{
        bottom: 37%;
    }
    .letter{
        font-size: 120px;
        left: 10%;
        top:100%;
        width: 90px;
    }
    .letter-container{
        height: 25%;
    }
    p{
        font-size: 1.2rem;
    }
    .website-href{
        font-size: 15px;
    }
    .my-work{
        left: 1%;
        letter-spacing: 0;
        top: 75%;
        font-size: 45px;
    }
    .my-work-text{
        top: 55%;
        left: 0;
    }
    .layout-height-2{
        height: 5vh;
    }
    .contact-form{
        left:0;
        top:20%;
    }
    .contact-letter{
        left: 12%;
        font-size: 45px;
        top: 22%;
    }
    .inp{
        padding: 0;
    }
    .form-name{
        transform: translate(10px, 20px);
        font-size: 14px;
    }
    .focus-bar{
        top: 36px;
    }
    .text-area{
        min-height: 30px;
    }
    .send-block{
        top: 10px;
    }
    .send{
        padding: 5px 60px;
    }
    .icon{
        width: 25px;
        position: relative;
        bottom: 20px;
        margin: 20px 10px 10px 20px;
    }
    .text-area {
        min-height: 90px;
    }
}
@media screen and (min-width: 320px) and (max-width: 340px) {
    .name-sector{
        font-size: 40px;
        top:40%;
    }
    .square{
        height: 9em;
        top: 10vw;
    }
    .inner_text{
        left:16px;
        top:50px;
    }
    .inner_text h3{
        font-size: 2.3rem;
    }
    .my-skill-title{
        margin: 0;
        left: 2%;
        font-size: 40px;
        letter-spacing: 0;

    }
    .bar-chart{
        top: 30%;
        margin: 0 0 0 2.3%;
    }
    .lineOne{
        top:63%;
    }
    .lineTwo{
        bottom: 37%;
    }
    .skill-name{
        padding: 0;
    }
    .letter{
        font-size: 120px;
        left: 10%;
        top:100%;
    }
    .letter-container{
        height: 25%;
    }
    p{
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    .website-href{
        font-size: 14px;
    }
    .my-work{
        left: 1%;
        letter-spacing: 0;
        top: 75%;
        font-size: 40px;
    }
    .my-work-text{
        top: 55%;
        left: 0;
        font-size: 16px;
    }
    .layout-height-2{
        height: 5vh;
    }
    .contact-form{
        left:0;
        top:20%;
    }
    .contact-letter{
        left: 2%;
        font-size: 40px;
        letter-spacing: 0;
        top: 22%;
    }
    .inp{
        padding: 0;
    }
    .form-name{
        transform: translate(10px, 20px);
        font-size: 14px;
    }
    .focus-bar{
        top: 36px;
    }
    .text-area{
        min-height: 30px;
    }
    .send-block{
        top: 10px;
    }
    .send{
        padding: 5px 60px;
    }
    .icon{
        width: 20px;
        position: relative;
        bottom: 8px;
        margin: 20px 10px 10px 20px;
    }
    .text-area {
        min-height: 90px;
    }
}