* {
  position: relative;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
}

ul {
  list-style: none;
}

button {
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: inherit;
}